<div class="nav-section-label">Overview</div>
<div class="nav-item"><a href="{% url 'student:dashboard' %}" class="nav-link-erms"><i class="bi bi-grid"></i>Dashboard</a></div>
<div class="nav-section-label">Academic</div>
<div class="nav-item"><a href="{% url 'student:results' %}" class="nav-link-erms"><i class="bi bi-clipboard-data"></i>My Results</a></div>
<div class="nav-item"><a href="{% url 'student:academic_history' %}" class="nav-link-erms"><i class="bi bi-clock-history"></i>Academic History</a></div>
<div class="nav-item"><a href="{% url 'student:transcript' %}" class="nav-link-erms"><i class="bi bi-file-earmark-pdf"></i>Download Transcript</a></div>
<div class="nav-section-label">Support</div>
<div class="nav-item"><a href="{% url 'complaints:submit' %}" class="nav-link-erms"><i class="bi bi-chat-left-text"></i>File Complaint</a></div>
<div class="nav-item"><a href="{% url 'complaints:my_complaints' %}" class="nav-link-erms"><i class="bi bi-list-check"></i>My Complaints</a></div>
<div class="nav-item"><a href="{% url 'feedback:submit' %}" class="nav-link-erms"><i class="bi bi-star"></i>Feedback</a></div>
<div class="nav-section-label">Account</div>
<div class="nav-item"><a href="{% url 'accounts:profile' %}" class="nav-link-erms"><i class="bi bi-person"></i>Profile</a></div>
<div class="nav-item"><a href="{% url 'notifications:list' %}" class="nav-link-erms"><i class="bi bi-bell"></i>Notifications</a></div>
