{% extends "base/base.html" %}
{% block title %}Change Password — ERMS{% endblock %}
{% block page_title %}Change Password{% endblock %}
{% block sidebar_nav %}
{% if request.user.role == 'admin' %}{% include "base/sidebar_admin.html" %}
{% elif request.user.role == 'lecturer' %}{% include "base/sidebar_lecturer.html" %}
{% elif request.user.role == 'student' %}{% include "base/sidebar_student.html" %}
{% else %}{% include "base/sidebar_parent.html" %}{% endif %}
{% endblock %}
{% block content %}
<div style="max-width:440px;margin:0 auto;">
  <div class="erms-card">
    <div class="erms-card-header"><h6 class="erms-card-title"><i class="bi bi-key me-2"></i>Change Password</h6></div>
    <div class="erms-card-body">
      <form method="post">{% csrf_token %}
        <div class="mb-3"><label class="erms-form-label">Current Password</label>{{ form.old_password }}<div class="text-danger" style="font-size:12px;">{{ form.old_password.errors }}</div></div>
        <div class="mb-3"><label class="erms-form-label">New Password</label>{{ form.new_password1 }}<div class="text-danger" style="font-size:12px;">{{ form.new_password1.errors }}</div></div>
        <div class="mb-4"><label class="erms-form-label">Confirm New Password</label>{{ form.new_password2 }}<div class="text-danger" style="font-size:12px;">{{ form.new_password2.errors }}</div></div>
        {% if form.non_field_errors %}<div style="background:#FEE2E2;color:#991B1B;border-radius:8px;padding:10px 14px;margin-bottom:16px;font-size:13px;">{{ form.non_field_errors.0 }}</div>{% endif %}
        <button type="submit" class="btn-erms-primary w-100"><i class="bi bi-lock me-1"></i>Update Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
